# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.vscode*/
tests/test_sh.py
*.pkl
*.h5
*.onnx
src/mlsquare/experiment.py
src/test_file.py
src/experiments_imlyV0_1_1.ipynb
src/experiments_imlyV0_1_1.ipynb
src/test_file.py
src/svm_experiments_V0.1.1.ipynb
.coverage.shakkeel-TUF-GAMING-FX504GD-FX80GD.19579.227439
.coverage.shakkeel-TUF-GAMING-FX504GD-FX80GD.19606.267349
.coverage.shakkeel-TUF-GAMING-FX504GD-FX80GD.29964.518263
.coverage.shakkeel-TUF-GAMING-FX504GD-FX80GD.13442.816205
.coverage.shakkeel-TUF-GAMING-FX504GD-FX80GD.13457.988615
.coverage.shakkeel-TUF-GAMING-FX504GD-FX80GD.14384.226026
.coverage.*
