{
    "model_skeleton": {
        "LinearRegression": "glm",
        "LogisticRegression": "glm",
        "LinearDiscriminantAnalysis": "lda",
        "LinearSVC": "glm",
        "SVC": "rbf"
    },
    "model_param": {
        "LinearRegression": {
            "units": 1,
            "activation": "linear",
            "optimizer": "adam",
            "losses": "mse"
        },
        "LogisticRegression": {
            "units": 1,
            "activation": "sigmoid",
            "optimizer": "adam",
            "losses": "binary_crossentropy"
        },
        "LinearDiscriminantAnalysis": {
            "units": 1,
            "activation": ["linear", "sigmoid"],
            "kernel_regularizer":"l2",
            "optimizer": "adam",
            "losses": "binary_crossentropy"
        },
        "LinearSVC": {
            "units": 1,
            "activation": "linear",
            "optimizer": "adam",
            "losses": "categorical_hinge"
        },
        "SVC": {
            "units": 1,
            "kernel_dim": 10,
            "activation": "linear",
            "optimizer": "adam",
            "losses": "categorical_hinge"
        }
    }
}