{
    "model_skeleton": {
        "LinearRegression": "glm",
        "LogisticRegression": "glm",
        "LinearDiscriminantAnalysis": "lda",
        "DecisionTreeClassifier": "dt_classifier"
    },
    "model_param": {
        "LinearRegression": {
            "units": 1,
            "activation": "linear",
            "optimizer": "adam",
            "losses": "mse"
        },
        "LogisticRegression": {
            "units": 1,
            "activation": "sigmoid",
            "optimizer": "adam",
            "losses": "binary_crossentropy"
        },
        "LinearDiscriminantAnalysis": {
            "units": 1,
            "activation": ["linear", "sigmoid"],
            "kernel_regularizer":"l2",
            "optimizer": "adam",
            "losses": "binary_crossentropy"
        },
        "DecisionTreeClassifier": {
            "units": 2,
            "activation": "sigmoid",
            "optimizer": "adam",
            "losses": "categorical_crossentropy"
        }
    }
}